/* 被js覆盖了，好像没用 */
// #app {
//   transform: rotate(90deg); //顺时针旋转90度
//   transform-origin: 0% 100%;
//   top: -90vw;
//   position: absolute;
//   height: 100vw; //宽高单位互换
//   width: 100vh;
// }
:root:root {
  --van-checkbox-size: 30px;
  --van-cell-font-size: 30px;
  --van-cell-value-font-size: 30px;
  --van-cell-line-height: 40px;
  --van-radio-size: 30px;
  --van-field-label-margin-right: 35px;
  --van-button-normal-font-size: 25px;
  --van-radio-border-color: #000;
  --van-checkbox-border-color: #000;
  --van-floating-bubble-size: 60px;
  --van-floating-bubble-icon-size: 60px;
}
